/* home view begin */
.home-view
{
	margin: 0 auto;
	margin-top: -70px;
	padding: 0;
}

.home-view
{
	height: 400px;
	background: red;
}

.home-view > .carousel
{
	margin: 0 auto;
	margin-top: 70px;
}

/* home view format end */
